{% extends 'base.html' %}
{% load static %}

{% load i18n %} 
{% block head_title %}{{category}}{% endblock %}
{% block content %}



  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">About Ishop</h2>
      {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show pt-t mt-5" role="alert">
              {{ message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
        {% endif %}
		
    

    </div>
  </main>
  <!--Main layout-->

{% endblock content%}