  <!-- Navbar -->
  {% load cart_template_tags %}
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="\">
        <strong class="blue-text"><em>flashstore</em></strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'core:about' %}">About</a>
          </li>
          {% if categorys %}
          
          <li class="nav-item dropdown">
            <a class="nav-link waves-effect dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categorys %}
              <a class="dropdown-item" href="{{category.get_absolute_url}}">{{category.name}}</a>
              {% endfor %}
            </div>
          </li>
          {% endif %}
          <form class="form-inline" method="get" action="{% url 'core:search' %}">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          {% if request.user.is_authenticated %}
         
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'core:order-summary' %}">
              <span class="badge red z-depth-1 mr-1"> {{request.user|cart_item_count}} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'core:wishlist' %}" class="nav-link waves-effect" >
              <i class="fa fa-bookmark"></i>
              <span class="clearfix d-none d-sm-inline-block"> Wishlist </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_logout' %}">
              <span class="clearfix d-none d-sm-inline-block"> Logout </span>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_login' %}">
              <span class="clearfix d-none d-sm-inline-block"> Login </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
              <span class="clearfix d-none d-sm-inline-block"> Signup </span>
            </a>
          </li>
          {% endif %}
          
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->